.suo
*/obj/**
*.gch
*.pdb
*.o
*.orig
build-*
buildAll-*
*.kdev4
*.swp
*/kdev4/**
!.gitattributes
!.gitignore
*.user*
*.stash
MakeFile*
object_script.*
ui_*
moc_*.cpp
moc_*.h
qrc_*.cpp
*.ui.orig
bin/Resources
*.wixpdb
Thumbs.db
**/.vscode/*
**/build/*
*.a
*.so
*.so.*
*.la
*.dll
*.dylib
*.zip
nexuslua_plugin.toml
.DS_Store
/ImageMagick-*
/pkgconfig
/config-Q32
/modules-Q32

